/* google font -> Inter  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    font-family: "Inter", sans-serif;
}

/* common class */
nav,
#banner-container,
#about-container,
#choose-container,
#footer-container,
#feature-container,
#meet-container {
    width: 75%;
    max-width: 1600px;
}

.btn {
    position: relative;
    background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
    transition: all 0.3s ease;
    box-shadow: 0 5px 25px rgba(145, 0, 248, 0.4);
}

.spotify-btn {
    position: relative;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8, #f7e93f);
    background-size: 300% 300%;
    transition: all 0.4s ease;
    box-shadow: 0 8px 25px rgba(145, 0, 248, 0.4);
}

.btn:hover {
    transform: scale(1.03);
    box-shadow:
        0 8px 25px rgba(145, 0, 248, 0.5),
        0 0 20px rgba(251, 9, 180, 0.5);
}

/* nav section style  */
.brand h1 span {
    background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bars {
    display: none;
}

/* hero section style  */
#hero {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: url(./images/hero-bg.png) no-repeat center/cover;
}

#hero-image button {
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0% {
        box-shadow:
            0 0 5px #00ff88,
            0 0 10px #00ff88;
    }
    50% {
        box-shadow:
            0 0 15px #00ff88,
            0 0 30px #00ff88;
    }
    100% {
        box-shadow:
            0 0 5px #00ff88,
            0 0 10px #00ff88;
    }
}

/* choose style  */
#choose {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

/* footer style */
footer {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: url(./images/footer-bg.png) no-repeat center/cover;
}

/* responsive design for 576px device */
@media screen and (max-width: 576px) {
    /* common style  */
    #hero,
    #about,
    #choose,
    #feature,
    #meet {
        padding: 40px 0;
    }

    #hero-container,
    #about-container,
    #choose-container,
    #feature-container,
    #meet-container {
        width: 100%;
        padding: 0 20px;
    }

    #about-container h2,
    #choose-container h2,
    #feature-container h2,
    #meet-container h2 {
        font-size: 2rem;
    }

    /* nav style  */
    nav {
        width: 100%;
        gap: 0;
        justify-content: space-between;
        padding: 20px;
    }

    nav h1 {
        font-size: 2rem;
    }

    #bars {
        display: block;
    }
    #bars img {
        width: 24px;
        height: 24px;
    }
    nav ul,
    nav button {
        display: none;
    }

    /* hero style  */
    #hero-content h1 {
        font-size: 2.5rem;
    }

    /* about style  */

    #about-container p br {
        display: none;
    }

    /* statistics responsive style */
    #statistics {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    /* choose box responsive style  */
    #choose-box {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        text-align: center;
    }

    /* * here i align all elements center but in figma there mobile device has all element has left (but i prefer this "for personal satisfaction") */
    #choose-box img {
        margin: 16px auto;
    }

    #first {
        grid-row: span 1;
    }

    #second,
    #third,
    #fourth {
        grid-column: span 1;
    }

    #choose-box > * {
        padding: 24px !important;
    }

    #choose-box > div > h3{
        font-size: 1.40rem !important;
    }

    /* feature section responsive style  */
    #feature-card {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    #feature-card > div > div > h4{
        font-size: 1.25rem !important;
    }

    /* meet style  */
    #meet-content {
        flex-direction: column;
        text-align: center;
    }

    #info h3{
        font-size: 1.5rem !important;
    }

    #host-social {
        justify-content: center;
    }
}
