/* google font -> Inter  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    font-family: "Inter", sans-serif;
}

/* common class */
nav,
#banner-container,
#about-container,
#choose-container,
#footer-container,
#feature-container,
#meet-container {
    width: 75%;
    max-width: 1600px;
}

/* btn animation */
.btn {
    --anim-duration: 3s;
    --glow-size: 4px;
    --c1: #f7e93f;
    --c2: #fb09b4;
    --c3: #9100f8;
    --c4: #00ff88;
    position: relative;
    background: linear-gradient(45deg, var(--c1), var(--c2), var(--c3));
    border: none;
    z-index: 0;
    overflow: hidden;
    transition: all 0.15s ease;
}

.btn:hover {
    box-shadow: 3px 10px 15px rgba(145, 0, 248, 0.4);
}

.btn::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: inherit;
    background: conic-gradient(
        from 0deg,
        transparent 0deg,
        var(--c1) 60deg,
        var(--c2) 120deg,
        var(--c3) 180deg,
        var(--c4) 240deg,
        transparent 300deg
    );
    opacity: 1;
    animation: spin var(--anim-duration) linear infinite;
    z-index: -1;
}

.btn::after {
    content: "";
    position: absolute;
    inset: var(--glow-size);
    background: inherit;
    border-radius: inherit;
    z-index: -1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* nav section style  */
.brand h1 span {
    background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bars {
    display: none;
}

/* hero section style  */
#hero {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: url(./images/hero-bg.png) no-repeat center/cover;
}

#hero-image button {
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0% {
        box-shadow:
            0 0 5px #00ff88,
            0 0 10px #00ff88;
    }
    50% {
        box-shadow:
            0 0 15px #00ff88,
            0 0 30px #00ff88;
    }
    100% {
        box-shadow:
            0 0 5px #00ff88,
            0 0 10px #00ff88;
    }
}

/* choose style  */
#choose {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

/* footer style */
footer {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: url(./images/footer-bg.png) no-repeat center/cover;
}

/* responsive design for 576px device */
@media screen and (max-width: 576px) {
    /* common style  */
    #hero,
    #about,
    #choose,
    #feature,
    #meet {
        padding: 40px 0;
    }

    #hero-container,
    #about-container,
    #choose-container,
    #feature-container,
    #meet-container {
        width: 100%;
        padding: 0 20px;
    }

    #about-container h2,
    #choose-container h2,
    #feature-container h2,
    #meet-container h2 {
        font-size: 2rem;
    }

    /* nav style  */
    nav {
        width: 100%;
        gap: 0;
        justify-content: space-between;
        padding: 20px;
    }

    nav h1 {
        font-size: 2rem;
    }

    #bars {
        display: block;
    }
    #bars img {
        width: 24px;
        height: 24px;
    }
    nav ul,
    nav button {
        display: none;
    }

    /* hero style  */
    #hero-content h1 {
        font-size: 2.5rem;
    }

    /* about style  */

    #about-container p br {
        display: none;
    }

    #about-container hr {
        margin: 40px 0;
    }

    /* statistics responsive style */
    #statistics {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    /* choose box responsive style  */
    #choose-box {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        text-align: center;
    }

    /* * here i align all elements center but in figma there mobile device has all element has left (but i prefer this "for personal satisfaction") */
    #choose-box img {
        margin: 16px auto;
    }

    #first {
        grid-row: span 1;
    }

    #second,
    #third,
    #fourth {
        grid-column: span 1;
    }

    #choose-box > * {
        padding: 24px !important;
    }

    #choose-box > div > h3 {
        font-size: 1.4rem !important;
    }

    /* feature section responsive style  */
    #feature-card {
        grid-template-columns: repeat(1, 1fr);
    }

    #feature-card > div > div > h4 {
        font-size: 1.25rem !important;
    }

    /* meet style  */
    #meet-content {
        flex-direction: column;
        text-align: center;
    }

    #info h3 {
        font-size: 1.5rem !important;
    }

    #host-social {
        justify-content: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 922px) {
    
}
