/* google font -> Inter  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    font-family: "Inter", sans-serif;
}

/* common class */
nav,
#banner-container,
#about,
#choose-container,
#footer-container,
#feature-container,
#meet-container {
    width: 75%;
    max-width: 1600px;
}

.btn {
    position: relative;
    background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
    transition: all 0.3s ease;
    box-shadow: 0 5px 25px rgba(145, 0, 248, 0.4);
}

.spotify-btn {
    position: relative;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8, #f7e93f);
    background-size: 300% 300%;
    transition: all 0.4s ease;
    box-shadow: 0 8px 25px rgba(145, 0, 248, 0.4);
}

.btn:hover{
    transform: scale(1.03);
    box-shadow:
        0 8px 25px rgba(145, 0, 248, 0.5),
        0 0 20px rgba(251, 9, 180, 0.5);
}



/* nav section style  */
.brand h1 span {
    background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bars {
    display: none;
}

/* hero section style  */
#hero {
    background: url(./images/hero-bg.png) no-repeat center/cover;
}

#hero-image button {
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0% {
        box-shadow:
            0 0 5px #00ff88,
            0 0 10px #00ff88;
    }
    50% {
        box-shadow:
            0 0 15px #00ff88,
            0 0 30px #00ff88;
    }
    100% {
        box-shadow:
            0 0 5px #00ff88,
            0 0 10px #00ff88;
    }
}


/* footer style */
footer{
    background: url(./images/footer-bg.png) no-repeat center/cover;
}

/* responsive design for 576px device */
@media screen and (max-width: 576px) {
    #brand h1 {
        font-size: 1.75rem;
    }
    nav {
        width: 100%;
        gap: 0;
        justify-content: space-between;
        padding: 20px;
    }

    #bars {
        display: block;
    }
    #bars img {
        width: 24px;
        height: 24px;
    }
    #right-nav {
        display: none;
    }

    /* statistics responsive style */
    #statistics{
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }

    /* choose box responsive style  */
    #choose-box{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    #first{
        grid-row: span 1;
    }
    #second,
    #third,
    #fourth{
        grid-column: span 1;
    }

    /* feature section responsive style  */
    #feature-card{
        grid-template-columns: repeat(1, 1fr);
    }

    #meet-content{
        flex-direction: column;
    }
}
